<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    
    <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <!-- Form Section -->
            <div class="form-container">
                <h2 class="title">Login to Your <span class="highlight">Account</span></h2>
                <p class="subtitle">Welcome back! Please enter your details.</p>
                <form>
                    <label>Email</label>
                    <input type="email" class="input" placeholder="Enter your email">
                    
                    <label>Password</label>
                    <div class="password-container">
                        <input type="password" class="input" placeholder="Enter your password">
                    </div>

                    <a href="/home" class="button">Login</a>
                </form>

               

                <p class="text-link">Don't have an account? <a href="/register">Register</a></p>
            </div>

            <!-- Image Section -->
            <div class="image-container">
                <img src="https://i.pinimg.com/736x/53/f9/ef/53f9efc0be86bf002e68e5d71e9f2d6c.jpg" alt="Cute bunny" class="image">
            </div>
        </div>
    </div>
</body>
</html>
