<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <!-- Form Section -->
            <div class="form-container">
                <h2 class="title">Create an <span class="highlight">Account</span></h2>
                <p class="subtitle">Join us and explore new stories.</p>
                <form>
                    <div class="name-container">
                        <div class="input-group">
                            <label>First Name</label>
                            <input type="text" class="input" placeholder="First Name">
                        </div>
                        <div class="input-group">
                            <label>Last Name</label>
                            <input type="text" class="input" placeholder="Last Name">
                        </div>
                    </div>
                    
                    <label>Email</label>
                    <input type="email" class="input" placeholder="Enter your email">
                    
                    <label>Password</label>
                    <input type="password" class="input" placeholder="Enter your password">

                    <a href="/login" class="button">Create an Account</a>
                </form>

                <p class="text-link">Already have an account? <a href="/login">Login</a></p>
            </div>

            <!-- Image Section -->
            <div class="image-container">
                <img src="https://i.pinimg.com/736x/53/f9/ef/53f9efc0be86bf002e68e5d71e9f2d6c.jpg" alt="Cute bunny" class="image">
            </div>
        </div>
    </div>
</body>
</html>
